body {
    background-image: url('https://img.lovepik.com/background/20211022/large/lovepik-green-gradient-business-background-image_401727458.jpg');
    background-size: cover;
    background-position: center;
        
   }
   

h1 {
	color: #333;
	text-align: center;
}

p {
	font-size: 18px;
	color: #666;
}

label {
	font-size: 16px;
	color: #333;
	margin-bottom: 10px;
	display: block;
}

input[type="number"] {
	width: 50px;
	height: 20px;
	font-size: 16px;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

input[type="number"]:focus {
	border-color: #aaa;
	box-shadow: 0 0 10px #ccc;
}

br {
	clear: both;
}
